
*{
    box-sizing: border-box;
    
    
}
body{
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003870;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:white;
  }

body, html {
    height: 100%;
    margin: 0;
}


  

  

  #logo{
    object-fit: contain;
    padding: 0px;
    width: 100%;
    margin-right: 100%;
    
    
    
  }

  img{
    width:20%;
  }
  .header img {
    float: left;
    width: 100px;
    height: 100px;
    background: white;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left:950px;
  }
  
  
  
 
  .container {
   height: 200px;
   position: relative;
   border: 3px solid #003870;
  }
  
  .center {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
  }
 
  
  
  body{
    background-color:#003870 ;
  }
  
  
  
  
  
  #cityLabel {
  
  
       height :25px;
  
  
      background: white url(to.png) left no-repeat;
      padding-left: 20px;
  
  
  
  }
  
  
  #destLabel {
  
    height:25px;
    background: white url(form.png) left no-repeat;
    padding-left: 20px;
  
  
  
  }


  
  

  

  

  
